.top-slide.slider-top
  - if @article_top_slides.first.present?
    .top-slide__box
      = link_to article_path(@article_top_slides.first.id) do
        = image_tag @article_top_slides.first.thumbnail.to_s
        
  - if @video_top_slides.first.present?
    .top-slide__box
      = link_to video_path(@video_top_slides.first.id) do
        = image_tag @video_top_slides.first.thumbnail.to_s
        .top-slide__box__title
          新着動画
          %br
          %span
            = @video_top_slides.first.title
  - if @article_top_slides.second.present?
    .top-slide__box
      = link_to article_path(@article_top_slides.second.id) do
        = image_tag @article_top_slides.second.thumbnail.to_s
        
  - if @video_top_slides.second.present?
    .top-slide__box
      = link_to video_path(@video_top_slides.second.id) do
        = image_tag @video_top_slides.second.thumbnail.to_s
        .top-slide__box__title
          新着動画
          %br
          %span
            = @video_top_slides.second.title

