.top-slide.slider-top
  .top-slide__box
    = image_tag "top_slide1.jpg"
  .top-slide__box
    = image_tag "top_slide2.jpg"
  .top-slide__box
    = image_tag "top_slide3.jpg"
  .top-slide__box
    = image_tag "top_slide4.jpg"
  .top-slide__box
    = image_tag "top_slide5.jpg"
