.main
  .main__logo
    .main__logo__img
      = image_tag "cooklab_sp_top.jpg", alt: "cooklab", class: "sp-top-image"
    = render 'top-slide'
    .main__logo__btn
      %h1
        = "動画で腕を磨こう！"
        %br/
        = "   プロの料理人向けレシピ動画サイト"
      = render 'share/search-window-top'
  .main__content.light-gray
    .main__content__box
      .main__content__box__title
        %h2
          = "新着動画"
      .main__content__box__list
        .main__content__box__list__video
          = render 'share/video_list', videos: @new_videos
  .main__content
    .main__content__box
      .main__content__box__title
        %h2
          = "人気動画"
      .main__content__box__list
        .main__content__box__list__video
          = render 'share/video_list', videos: @like_videos
  - if (not user_signed_in?) || (user_signed_in? && check_pay_regi_status < 2)
    .main__account-create
      = render 'share/magazine_intro'
  .main__content.light-gray
    .main__content__box
      .main__content__box__title
        %h2
          = "新着記事"
          = link_to article_index_path do
            = "▶︎もっと見る"
      .main__content__box__list
        .main__content__box__list__article
          = render 'share/article_list', articles: @new_articles
