.main
  .main__logo
    = render 'top-slide'
    .main__logo__btn
      %h1
        = "プロの料理人向け"
        %br/
        = "   技術研鑽の動画サイト"
      - unless user_signed_in?
        = link_to users_path do
          %p
            = "新規登録"
  .main__content.light-gray
    .main__content__box
      .main__content__box__title
        = "新着動画"
      .main__content__box__list
        .main__content__box__list__video
          = render 'share/video_list', videos: @new_videos
  .main__content
    .main__content__box
      .main__content__box__title
        = "人気動画"
      .main__content__box__list
        .main__content__box__list__video
          = render 'share/video_list', videos: @like_videos
  - if not user_signed_in?
    .main__account-create
      .main__account-create__btn
        = link_to users_path do
          %p.pc-only
            = "今すぐアカウントを作成して、動画を視聴しよう！"
          %p.sp-only
            = "今すぐアカウントを作成して"
            %br
            = "動画を視聴しよう！"
  - elsif current_user.pay_regi_status < 2
    .main__account-create
      .main__account-create__btn
        = link_to new_card_registration_path('subscription'), class: "premium" do
          %p.pc-only
            = "月額1,280円(税込)のプレミアムアカウントに登録して、全コンテンツを楽しもう！"
          %p.sp-only
            = "月額1,280円(税込)の"
            %br
            = "プレミアムアカウントに登録して"
            %br
            = "全コンテンツを楽しもう！"
  .main__content.light-gray
    .main__content__box
      .main__content__box__title
        = "新着記事"
        = link_to article_index_path do
          = "▶︎もっと見る"
      .main__content__box__list
        .main__content__box__list__article
          = render 'share/article_list', articles: @new_articles
