.main
  .main__logo
    .main__logo__img
      = image_tag "cooklab_sp_top.jpg", alt: "cooklab", class: "sp-top-image"
    = render 'top-slide'
    .main__logo__btn
      %h1
        = "動画で腕を磨こう！"
        %br/
        = "   プロの料理人向けレシピ動画サイト"
      = render 'share/search-window-top-sp'
  .main__content.light-gray
    .main__content__box
      .main__content__box__title
        %h2
          = "新着動画"
      .main__content__box__list
        .main__content__box__list__video
          = render 'share/video_list', videos: @new_videos
  .main__content
    .main__content__box
      .main__content__box__title
        %h2
          = "人気動画"
      .main__content__box__list
        .main__content__box__list__video
          = render 'share/video_list', videos: @like_videos
  - if (not user_signed_in?) || (user_signed_in? && check_pay_regi_status < 2)
    .main__account-create
      .magazine-intro
        .magazine-intro__title
          = image_tag "cooklab_magazine_logo.jpg", alt: "cooklab_magazine_logo"
          %br
          創刊しました！
        .magazine-intro__content
          .magazine-intro__content__image
            = image_tag "cooklab_magazine_intro.png", alt: "cooklab_magazine"
          .magazine-intro__content__description
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
        .main__account-create__btn
          - if not user_signed_in?
            = link_to users_path do
              %p.pc-only
                = "メルマガ会員募集中！無料特典あり♪"
              %p.sp-only
                = "メルマガ会員募集中！"
                %br
                = "無料特典あり♪"
          - else
            = link_to new_card_registration_path('subscription'), class: "premium" do
              %p.pc-only
                = "月額300円(税別)のメルマガ有料会員に登録して、定期購読しよう！"
              %p.sp-only
                = "月額300円(税別)の"
                %br
                = "メルマガ有料会員に登録して"
                %br
                = "定期購読しよう！"
  .main__content.light-gray
    .main__content__box
      .main__content__box__title
        %h2
          = "新着記事"
          = link_to article_index_path do
            = "▶︎もっと見る"
      .main__content__box__list
        .main__content__box__list__article
          = render 'share/article_list', articles: @new_articles
