.footer
  .footer__top
    .footer__top__col
      .footer__top__col__box
        %ul
          %li
            = link_to "https://restaurant-education.co.jp/cook-lab/" do
              COOK LAB.について
          %li
            = link_to "https://restaurant-education.co.jp/", {:target => "_blank"} do
              運営会社
          %li
            = link_to page_path('tos') do
              利用規約
          %li
            = link_to page_path('privacy') do
              プライバシーポリシー
          %li
            = link_to page_path('commerce') do
              特定商取引法に基づく表示
    .footer__top__col
      .footer__top__col__box
        %ul
          %li
            = link_to page_path('qa') do
              よくあるご質問
          %li
            = link_to new_contact_path do
              お問い合わせ
          - if user_signed_in? && check_pay_regi_status != 2
            %li
              = link_to delete_user_path do
                退会手続き
  .footer__bottom
    %p
      = "@Copyright 2018 Restaurant Education, Inc. All Rights Reserved."
