.share-frame
  .share-frame__like-btn
    - if controller.controller_name == 'video'
      = render "share/like-btn", like: @video, current_user_like_count: @current_user_like_count
    - else
      = render "share/like-btn", like: @article, current_user_like_count: @current_user_like_count
.share-frame
  = link_to "http://twitter.com/share?url=#{request.url}", class: "share-frame__btn tw" do
    = fa_icon "twitter"
    = "ツイート"
.share-frame
  = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", class: "share-frame__btn fb" do
    = fa_icon "facebook"
    = "シェア"
