.tag-list
  = link_to '#' do
    .tag-list__box
      和食
  = link_to '#' do
    .tag-list__box
      中華
  = link_to '#' do
    .tag-list__box
      洋食
  = link_to '#' do
    .tag-list__box
      日本料理
  = link_to '#' do
    .tag-list__box
      フランス料理
  = link_to '#' do
    .tag-list__box
      イタリア料理
  = link_to '#' do
    .tag-list__box
      天ぷら
  = link_to '#' do
    .tag-list__box
      ワイン
  = link_to '#' do
    .tag-list__box
      バル・バール
  = link_to '#' do
    .tag-list__box
      寿司
  = link_to '#' do
    .tag-list__box
      すべて表示
