.tag-list
  %p
    = fa_icon "tag"
    %u
      おすすめのジャンル
  - tags.each do |tag|
    = link_to genre_search_video_index_path(genre: tag.name) do
      .tag-list__box
        = "#{ tag.name } (#{ Video.tag_count(tag) })"
