.v-list.slider
  - @videos.each do |video|
    .v-list__box
      = link_to video_path(video.id) do
        .v-list__box__thumbnail
          = image_tag video.thumbnail.url , alt: "video"
          - if (Time.current - video.created_at).to_i < 1296000
            .new-icon
              = image_tag "new.png",size: "50x50", alt: "fish"
        .v-list__box__detail
          .v-list__box__detail__title
            %p
              = video.title
              = "〜#{video.series.title}シリーズ〜"
          .v-list__box__detail__date-chef
            .date
              %p
                = fa_icon "heart"
                = "8,320"
            .chef
              %p
                = image_tag "chef_icon.png",size: "15x15", alt: "chef"
                = video.series.chef.name
