.v-list
  .v-list__box
    = link_to video_path(1) do
      .v-list__box__thumbnail
        = image_tag "test.png",size: "240x135", alt: "test"
        .new-icon
          = image_tag "new.png",size: "50x50", alt: "fish"
      .v-list__box__detail
        .v-list__box__detail__title
          %p
            = "フレンチの基礎"
        .v-list__box__detail__date-chef
          .date
            %p
              = fa_icon "heart"
              = "8,320"
          .chef
            %p
              = image_tag "chef_icon.png",size: "15x15", alt: "chef"
              = "齋藤義美"
  .v-list__box
    .v-list__box__thumbnail
      = image_tag "fish.png",size: "240x135", alt: "fish"
    .v-list__box__detail
      .v-list__box__detail__title
        %p
          = "魚のさばき方"
      .v-list__box__detail__date-chef
        .date
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "chef"
            = "齋藤義美"
  .v-list__box
    .v-list__box__thumbnail
      = image_tag "meat.png",size: "240x135", alt: "meat"
    .v-list__box__detail
      .v-list__box__detail__title
        %p
          = "肉料理の基礎"
      .v-list__box__detail__date-chef
        .date
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
  .v-list__box
    .v-list__box__thumbnail
      = image_tag "sushi.png",size: "240x135", alt: "sushi"
    .v-list__box__detail
      .v-list__box__detail__title
        %p
          = "寿司の基礎"
      .v-list__box__detail__date-chef
        .date
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
  .v-list__box
    .v-list__box__thumbnail
      = image_tag "test.png",size: "240x135", alt: "test"
    .v-list__box__detail
      .v-list__box__detail__title
        %p
          = "フレンチの基礎"
      .v-list__box__detail__date-chef
        .date
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
