- if @chefs.blank? && @search_word.present?
  .c-list.no-hit
    %span
      = fa_icon "exclamation-circle"
    %br/
    該当する料理人が見つかりません。
- elsif @chefs.blank?
  .c-list.no-hit
- else
  .c-list
    - @chefs.each do |chef|
      .c-list__box
        = link_to "chef_search_video/#{chef.id}" do
          .c-list__box__content
            .c-list__box__content__image
              = image_tag chef.chef_avatar.url , alt: "chef"
            .c-list__box__content__explain
              .c-list__box__content__explain__name
                = chef.name
              .c-list__box__content__explain__profile
                = chef.introduction
  .page-nation
    - unless controller.action_name == 'show'
      = paginate @chefs

