.c-detail
  .c-detail__box
    .c-detail__box__content
      .c-detail__box__content__image
        = image_tag @chef.chef_avatar.url, alt: "chef"
      .c-detail__box__content__explain
        .c-detail__box__content__explain__name
          = @chef.name
          %span
            = "(#{@chef.phonetic})"
        .c-detail__box__content__explain__profile
          = @chef.introduction
      .c-detail__box__content__history.pc-only
        %p
          〜略歴〜
        %p.text.a_link
          = text_url_to_link(h(adjust_brank_text(@chef.biography))).html_safe
      .c-detail__box__content__history.sp-only
        .hidden_box
          %label{for: "label1"}
            %span
              〜略歴〜
          %input{type: "checkbox", id: "label1"}
          .hidden_show
            %p.text.a_link
              = text_url_to_link(h(adjust_brank_text(@chef.biography))).html_safe
