.v-r-list
  - @recommend_videos.each do |rv|
    .v-r-list__box
      = link_to video_path(rv.id) do
        .v-r-list__box__thumbnail
          = image_tag rv.thumbnail.url , alt: "video"
        .v-r-list__box__detail
          .v-r-list__box__detail__title
            %p
              = rv.title
              = "〜#{rv.series.title}シリーズ〜"
          .v-r-list__box__detail__description
            %p
              = rv.introduction
