.tag-list
  = link_to '#' do
    .tag-list__box
      山田太郎
  = link_to '#' do
    .tag-list__box
      齋藤義美
  = link_to '#' do
    .tag-list__box
      荒木清成
  = link_to '#' do
    .tag-list__box
      佐藤健
  = link_to '#' do
    .tag-list__box
      高安亘
  = link_to '#' do
    .tag-list__box
      鈴木和美
  = link_to '#' do
    .tag-list__box
      伊藤真
  = link_to '#' do
    .tag-list__box
      山田慎之介
  = link_to '#' do
    .tag-list__box
      大瀬匠
  = link_to '#' do
    .tag-list__box
      新房二郎
  = link_to '#' do
    .tag-list__box
      畠山浩司
