- if @videos.blank? && @search_word.present?
  .v-s-list.no-hit
    %span
      = fa_icon "exclamation-circle"
    %br/
    該当する動画がありません。
- elsif @videos.blank?
  .v-s-list.no-hit
-else
  .v-s-list
    - @videos.each do |video|
      = link_to video_path(video.id) do
        .v-s-list__box
          .v-s-list__box__thumbnail
            = image_tag video.thumbnail.url , alt: "video"
          .v-s-list__box__detail
            .v-s-list__box__detail__title
              %p
                %span
                  = video.title
                  = "〜#{video.series.title}シリーズ〜"
            .v-s-list__box__detail__description
              %p
                %span
                  = video.introduction
            .v-s-list__box__detail__sub-info
              .like
                %p
                  = fa_icon "heart"
                  = video.like_count
              .chef
                %p
                  = link_to "/video/chef_search_video/#{video.series.chef.id}" do
                    = image_tag "chef_icon.png",size: "15x15", alt: "chef"
                    = video.series.chef.name
              .date
                %p
                  = "#{adjust_created_at(video.created_at)}"
        .v-s-list__tag
          .v-s-list__tag__title
            = fa_icon "tag"
            = "ジャンル"
          .v-s-list__tag__list
            = render 'video/video-tag-list', video: video
    .page-nation
      = paginate @videos
