.v-s-list
  .v-s-list__box
    .v-s-list__box__thumbnail
      = link_to video_path(1) do
        = image_tag "test_1.jpg", alt: "test"
    .v-s-list__box__detail
      = link_to video_path(1) do
        .v-s-list__box__detail__title
          %p
            = "地蛤の金糸瓜素麺"
            = "〜地蛤シリーズ〜"
        .v-s-list__box__detail__description
          %p
            = "夏から秋にかけて出回る「金糸瓜」を使った料理です。「糸瓜」「素麺南瓜」とも呼びます。 シャキシャキした食感が..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          = link_to 'chef_search_video/1' do
            %p
              = image_tag "chef_icon.png",size: "15x15", alt: "fish"
              = "齋藤義美"
        .date
          %p
            = "2018/11/30"
  %hr.gray-line
  .v-s-list__box
    .v-s-list__box__thumbnail
      = image_tag "test_2.jpg", alt: "fish"
    .v-s-list__box__detail
      .v-s-list__box__detail__title
        %p
          = "地蛤の金糸瓜素麺"
          = "〜地蛤シリーズ〜"
      .v-s-list__box__detail__description
        %p
          = "夏から秋にかけて出回る「金糸瓜」を使った料理..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
        .date
          %p
            = "2018/11/30"
  %hr.gray-line
  .v-s-list__box
    .v-s-list__box__thumbnail
      = image_tag "test_3.jpg", alt: "meat"
    .v-s-list__box__detail
      .v-s-list__box__detail__title
        %p
          = "焼霜帆立貝の黃味酒盗掛け"
          = "〜酒盗シリーズ〜"
      .v-s-list__box__detail__description
        %p
          = "黃味酒盗を使った一品です。 炙って香ば..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
        .date
          %p
            = "2018/11/30"
  %hr.gray-line
  .v-s-list__box
    .v-s-list__box__thumbnail
      = image_tag "test_4.jpg", alt: "sushi"
    .v-s-list__box__detail
      .v-s-list__box__detail__title
        %p
          = "柿の白和え"
          = "〜白和えシリーズ〜"
      .v-s-list__box__detail__description
        %p
          = "一般に白和えは、大豆で作った豆腐を使用してつ..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
        .date
          %p
            = "2018/11/30"
  %hr.gray-line
  .v-s-list__box
    .v-s-list__box__thumbnail
      = image_tag "test_5.jpg", alt: "test"
    .v-s-list__box__detail
      .v-s-list__box__detail__title
        %p
          = "胡麻豆腐"
          = "〜胡麻シリーズ〜"
      .v-s-list__box__detail__description
        %p
          = "日本料理の先付けや前菜に欠かせない「胡麻豆腐..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
        .date
          %p
            = "2018/11/30"
  %hr.gray-line
  .v-s-list
    .v-s-list__box
      = link_to video_path(1) do
        .v-s-list__box__thumbnail
          = image_tag "test_1.jpg", alt: "test"
        .v-s-list__box__detail
          .v-s-list__box__detail__title
            %p
              = "地蛤の金糸瓜素麺"
              = "〜地蛤シリーズ〜"
          .v-s-list__box__detail__description
            %p
              = "夏から秋にかけて出回る「金糸瓜」を使った料理..."
          .v-s-list__box__detail__sub-info
            .like
              %p
                = fa_icon "heart"
                = "8,320"
            .chef
              %p
                = image_tag "chef_icon.png",size: "15x15", alt: "fish"
                = "齋藤義美"
            .date
              %p
                = "2018/11/30"
  %hr.gray-line
  .v-s-list__box
    .v-s-list__box__thumbnail
      = image_tag "test_2.jpg", alt: "fish"
    .v-s-list__box__detail
      .v-s-list__box__detail__title
        %p
          = "地蛤の金糸瓜素麺"
          = "〜地蛤シリーズ〜"
      .v-s-list__box__detail__description
        %p
          = "夏から秋にかけて出回る「金糸瓜」を使った料理..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
        .date
          %p
            = "2018/11/30"
  %hr.gray-line
  .v-s-list__box
    .v-s-list__box__thumbnail
      = image_tag "test_3.jpg", alt: "meat"
    .v-s-list__box__detail
      .v-s-list__box__detail__title
        %p
          = "焼霜帆立貝の黃味酒盗掛け"
          = "〜酒盗シリーズ〜"
      .v-s-list__box__detail__description
        %p
          = "黃味酒盗を使った一品です。 炙って香ば..."
      .v-s-list__box__detail__sub-info
        .like
          %p
            = fa_icon "heart"
            = "8,320"
        .chef
          %p
            = image_tag "chef_icon.png",size: "15x15", alt: "fish"
            = "齋藤義美"
        .date
          %p
            = "2018/11/30"
