.info
  .info__share
    = render 'share/like-share'
.other
  %ul.tab
    %li.active
      概要
    %li
      ポイント解説
    %li
      レシピ
  #tab-contents
    .tab-con.show
      .other__title
        = "地蛤の金糸瓜素麺"
      .other__content
        = "すっぽん料理の基礎となる部分を学習します。<br>スッポンは生血も酒に溶いて飲みます。首を切って血抜きする時、汚れを入れないために綺麗に洗う必要があります。スッポンの後ろ足あたりの甲羅を掴んでひっくり返し、流しの端に頭の方を向けると、起き上がろうとして首を長く伸ばします。"
    .tab-con
      .other__title
        = image_tag "point_icon.png",size: "18x18", alt: "point"
        = "ポイント解説(#1 概要)"
      .other__content
        = "スッポンは生血も酒に溶いて飲みます。首を切って血抜きする時、汚れを入れないために綺麗に洗う必要があります。スッポンの後ろ足あたりの甲羅を掴んでひっくり返し、流しの端に頭の方を向けると、起き上がろうとして首を長く伸ばします。びっくりする位伸ばすので、そこをすかさずつかんで下さい。がっちり掴めば逃げられません。ここで首を捕まえられない人は捌くのを諦めましょう。躊躇すると噛まれるので注意してくださいね。"
    .tab-con
      .other__title
        = image_tag "cook_icon.png",size: "18x18", alt: "point"
        = "レシピ"
      .other__content
        = render 'recipe_table'
.other
  .other__title
    = image_tag "chef_icon.png",size: "18x18", alt: "point"
    = "料理人"
  .other__content
    = render 'chef_list'
.other
  .other__title
    = image_tag "genre_icon.png",size: "18x18", alt: ""
    = "ジャンル"
  .other__content
    / = render 'video-tag-list'
    .tag-list__box
      = link_to '#' do
        和食(33)
    .tag-list__box
      = link_to '#' do
        すっぽん料理(12)
    .tag-list__box
      = link_to '#' do
        海鮮料理(12)
