.play-list.pc-only
  .play-list__title
    %span
      同じシリーズの動画
  .play-list__lists
    %ul
      - @series_videos.each do |sv|
        - if sv.id != @video.id
          = link_to video_path(sv.id) do
            %li
              %p.left
                = adjust_play_list_icon(sv, @video)
                = "##{sv.video_order} #{sv.title}"
              - if sv.price == 0
                .free.right
                  無料
              - elsif user_signed_in? && video_charge_check(sv) == 1
                .free.right
                  購入済み
              - elsif user_signed_in? && current_user.pay_regi_status == 2
                .free.right
                  定額利用
              - else
                .charge.right
                  %p
                    = "¥#{sv.price}"
        - else
          %li
            %p.left
              = adjust_play_list_icon(sv, @video)
              = "##{sv.video_order} #{sv.title}"
            - if sv.price == 0
              .free.right
                無料
            - elsif user_signed_in? && video_charge_check(sv) == 1
              .free.right
                購入済み
            - elsif user_signed_in? && current_user.pay_regi_status == 2
              .free.right
                定額利用
            - else
              .charge.right
                %p
                  = "¥#{sv.price}"
.play-list.sp-only
  .hidden_box
    %label{for: "label1"}
      %span
        同じシリーズの動画
      %input{type: "checkbox", id: "label1"}
      .hidden_show
        .play-list__lists
          %ul
            - @series_videos.each do |sv|
              - if sv.id != @video.id
                = link_to video_path(sv.id) do
                  %li
                    %p.left
                      = adjust_play_list_icon(sv, @video)
                      = "##{sv.video_order} #{sv.title}"
                    - if sv.price == 0
                      .free.right
                        無料
                    - elsif user_signed_in? && video_charge_check(sv) == 1
                      .free.right
                        購入済み
                    - elsif user_signed_in? && current_user.pay_regi_status == 2
                      .free.right
                        定額利用
                    - else
                      .charge.right
                        %p
                          = "¥#{sv.price}"
              - else
                %li
                  %p.left
                    = adjust_play_list_icon(sv, @video)
                    = "##{sv.video_order} #{sv.title}"
                  - if sv.price == 0
                    .free.right
                      無料
                  - elsif user_signed_in? && video_charge_check(sv) == 1
                    .free.right
                      購入済み
                  - elsif user_signed_in? && current_user.pay_regi_status == 2
                    .free.right
                      定額利用
                  - else
                    .charge.right
                      %p
                        = "¥#{sv.price}"
