.play-list.pc-only
  .play-list__title
    %span
      同じシリーズの動画
  .play-list__lists
    %ul
      = link_to user_my_page_path('profile') do
        %li
          %p.left
            = fa_icon "play-circle"
            = "#1 概要"
          .free.right
            無料
      = link_to user_my_page_path('like_video') do
        %li
          %p.left
            = fa_icon "film"
            = "#2 首を落とす"
          .free.right
            無料
      = link_to user_my_page_path('like_video') do
        %li
          %p.left
            = fa_icon "film"
            = "#3 甲羅を剥がす"
          .free.right
            購入済み
      = link_to user_my_page_path('like_article') do
        %li
          %p.left
            = fa_icon "film"
            = "#4 甲羅を剥がす"
          .charge.right
            %p
              = "¥100"
      = link_to user_my_page_path('pay_info') do
        %li
          %p.left
            = fa_icon "film"
            = "#5 甲羅を剥がす"
          .charge.right
            %p
              = "¥100"
      = link_to user_my_page_path('pay_info') do
        %li
          %p.left
            = fa_icon "film"
            = "#6 焼霜帆立貝の黃味酒盗掛け"
          .charge.right
            %p
              = "¥100"
.play-list.sp-only
  .hidden_box
    %label{for: "label1"}
      %span
        同じシリーズの動画
      %input{type: "checkbox", id: "label1"}
      .hidden_show
        .play-list__lists
          %ul
            = link_to user_my_page_path('profile') do
              %li
                %p.left
                  = fa_icon "play-circle"
                  = "#1 概要"
                .free.right
                  無料
            = link_to user_my_page_path('like_video') do
              %li
                %p.left
                  = fa_icon "film"
                  = "#2 首を落とす"
                .free.right
                  無料
            = link_to user_my_page_path('like_video') do
              %li
                %p.left
                  = fa_icon "film"
                  = "#3 甲羅を剥がす"
                .free.right
                  購入済み
            = link_to user_my_page_path('like_article') do
              %li
                %p.left
                  = fa_icon "film"
                  = "#4 甲羅を剥がす"
                .charge.right
                  %p
                    = "¥100"
            = link_to user_my_page_path('pay_info') do
              %li
                %p.left
                  = fa_icon "film"
                  = "#5 甲羅を剥がす"
                .charge.right
                  %p
                    = "¥100"
            = link_to user_my_page_path('pay_info') do
              %li
                %p.left
                  = fa_icon "film"
                  = "#6 焼霜帆立貝の黃味酒盗掛け"
                .charge.right
                  %p
                    = "¥100"
