.info
  .info__share
    = render 'share/like-share'
.other
  %ul.tab
    %li.active
      概要
    %li
      ポイント解説
    %li
      レシピ
  #tab-contents
    .tab-con.show
      .other__title
        = @video.title
      .other__content
        = simple_format(@video.introduction)
    .tab-con
      .other__title
        = image_tag "point_icon.png",size: "18x18", alt: "point"
        = "ポイント解説"
      .other__content
        = simple_format(@video.commentary)
    .tab-con
      .other__title
        = image_tag "cook_icon.png",size: "18x18", alt: "point"
        = "レシピ"
      .other__content
        = render 'recipe_table'
.other
  .other__title
    = image_tag "chef_icon.png",size: "18x18", alt: "point"
    = "料理人"
  .other__content
    = render 'chef_list'
.other
  .other__title
    = image_tag "genre_icon.png",size: "18x18", alt: ""
    = "ジャンル"
  .other__content
    = render 'video-tag-list'
