- set_meta_tags title: "#{@search_word} 【COOK LAB. クックラボ 】プロの料理人向けレシピ動画"
.v-search
  .v-search__title
    料理人検索
  .v-search__result
    = render 'share/search-window'
    .v-search__result__recommend
      = render 'recommend_chef_genre_list'
    = render 'share/search-header', result: @chefs
    = render 'chef_list'
