.v-search
  .v-search__title
    料理人検索
  .v-search__result
    = render 'share/search-window'
    .pc-only
      = render 'recommend_chef_list'
    = render 'chef_detail'
    = render 'share/search-header'
    .v-search__result__list
      = render 'search-list'
