- set_meta_tags title: "#{@chef.name} 【COOK LAB. クックラボ 】プロの料理人向けレシピ動画"
.v-search
  .v-search__title
    %h1
      料理人検索
  .v-search__result
    = render 'share/search-window'
    .pc-only
      = render 'recommend_chef_genre_list'
    = render 'chef_detail'
    = render 'share/search-header', result: @videos
    .v-search__result__list
      = render 'search-list'
