- set_meta_tags title: "#{@video.title} 【COOK LAB. クックラボ 】プロの料理人向けレシピ動画"
.video
  .video__title
    %h1
      = fa_icon "play-circle"
      = @video.title
      %span
        = "〜#{@video.series.title}シリーズ〜"
  .video__view
    .video__view__vimeo
      .vimeo-container
        %iframe{src: "#{@video.video_url}", frameborder: "0", width: "640", height: "360", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: ""}
    .video__view__play-list
      = render 'video-play-list'
  .video__main
    = render 'video-content'
  .video__side
    .video__side__title
      %h2
        = "あなたにおすすめの動画"
    .video__side__recommend-list
      = render 'recommend-list'
= render 'video-pay-frame'
