.video
  .video__title
    %p
      = fa_icon "play-circle"
      地蛤の金糸瓜素麺
      %span
        〜地蛤シリーズ〜
  .video__view
    .video__view__vimeo
      .vimeo-container
        %iframe{src: "https://player.vimeo.com/video/304772459", frameborder: "0", width: "640", height: "360", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: ""}
    .video__view__play-list
      = render 'video-play-list'
  .video__main
    = render 'video-content'
  .video__side
    .video__side__title
      = "あなたにおすすめの動画"
    .video__side__recommend-list
      = render 'recommend-list'
