.video
  .video__title
    %p
      = fa_icon "play-circle"
      = @video.title
      %span
        = "〜#{@video.series.title}シリーズ〜"
  .video__view
    .video__view__vimeo
      - if user_signed_in? && (@video.price == 0 || video_charge_check(@video) == 1 || check_pay_regi_status == 2)
        .vimeo-container
          %iframe{src: "#{@video.video_url}", frameborder: "0", width: "640", height: "360", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: ""}
      -  elsif user_signed_in? && @video.price > 0 && video_charge_check(@video) == 0 && check_pay_regi_status == 1
        .video-pay
          %p
            こちらの動画は有料です。
            %br
            視聴を希望する場合は支払いボタンを押下してください。
          %button#video-pay-confirmation-btn.account-btn
            %p
              = "¥#{@video.price}を支払う"
      -  elsif user_signed_in? && @video.price > 0 &&check_pay_regi_status == 0

        .video-pay
          %p
            こちらの動画は有料です。
            %br
            有料動画を購入するには支払登録が必要です。
          = link_to "支払登録", new_card_registration_path('charge'), class: "account-btn"
      - else
        .login-alert
          .login-alert__signup
            %p
              動画の視聴にはアカウントが必要です
            = link_to users_path, class: "account-btn" do
              %p
                = "新規登録"
          .login-alert__signin
            %p
              既にアカウントをお持ちの方は
            = link_to new_user_session_path, class: "account-btn" do
              %p
                = "ログイン"
    .video__view__play-list
      = render 'video-play-list'
  .video__main
    = render 'video-content'
  .video__side
    .video__side__title
      = "あなたにおすすめの動画"
    .video__side__recommend-list
      = render 'recommend-list'
= render 'video-pay-frame'
