.video
  .video__title
    %p
      = fa_icon "play-circle"
      = @video.title
      %span
        = "〜#{@video.series.title}シリーズ〜"
  .video__view
    .video__view__vimeo
      .vimeo-container
        %iframe{src: "#{@video.video_url}", frameborder: "0", width: "640", height: "360", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: ""}
    .video__view__play-list
      = render 'video-play-list'
  .video__main
    = render 'video-content'
  .video__side
    .video__side__title
      = "あなたにおすすめの動画"
    .video__side__recommend-list
      = render 'recommend-list'
