%ul
  = link_to user_my_page_path('notice') do
    %li{ class: "#{menu_active(@info_patarn, 'notice')}" }
      %p.left
        お知らせ
        - if @unread_notices > 0
          %span.unread-alart
            = fa_icon "exclamation-circle"
      %p.right
        >
  = link_to user_my_page_path('profile') do
    %li{ class: "#{menu_active(@info_patarn, 'profile')}" }
      %p.left
        プロフィール
      %p.right
        >
  = link_to user_my_page_path('like_video') do
    %li{ class: "#{menu_active(@info_patarn, 'like_video')}" }
      %p.left
        お気に入り(動画)
      %p.right
        >
  = link_to user_my_page_path('like_article') do
    %li{ class: "#{menu_active(@info_patarn, 'like_article')}" }
      %p.left
        お気に入り(記事)
      %p.right
        >
  - if check_pay_regi_status > 0
    = link_to user_my_page_path('pay_info') do
      %li{ class: "#{menu_active(@info_patarn, 'pay_info')}" }
        %p.left
          支払情報
        %p.right
          >

