- if @info_patarn == 'pay_info' && current_user.payment.present?
  - if check_pay_regi_status == 3
    .pay-alert
      %p
        ご登録のクレジットカードが無効になっているため
        %br
        プレミアムプランをご利用いただけません。
        %br
        決済カードを変更してください。
  .basic-info
    支払い方法
  .user-info
    クレジットカード
  .basic-info
    ご登録のクレジットカード
  .user-info
    = image_tag "#{@card_brand}.png",size: "40x25"
  .basic-info
    カード下４桁
  .user-info
    = @last4
  .basic-info
    有効期限
  .user-info
    = "#{@exp_year}/#{@exp_month}"
  - if check_pay_regi_status == 2 || check_pay_regi_status == 3
    .basic-info
      ご利用プラン
    .user-info
      メルマガ有料会員プラン(¥300/月,税別)
    .basic-info
      次回決済日
    .user-info
      = "#{adjust_expires_at(@expires_at)}"
  - if check_pay_regi_status == 2 || check_pay_regi_status == 3
    .pay-btn
      %hr.gray-line
      = link_to "メルマガ有料会員プランを解約する", delete_payment_path, class: "pay-btn__delete"


