%table
  %tr
    %td
      勤務先
    %td
      = current_user.userProfile.work_place
  %tr
    %td
      職種
    %td
      = current_user.userProfile.job
  %tr
    %td
      専門分野
    %td
      = current_user.userProfile.specialized_field
  %tr
    %td
      勤務先の所在地
    %td
      = current_user.userProfile.location
  %tr
    %td
      性別
    %td
      = current_user.userProfile.sex
  %tr
    %td
      生年月日
    %td
      = current_user.userProfile.birthday
  %tr
    %td
      メールアドレス
    %td
      = current_user.email
  %tr
    %td
      アカウント認証
    %td
      = @account_aouth
