.my-page
  .my-page__title
    = image_tag "user_icon.png",size: "30x30"
    マイページ
  .my-page__menu
    = render 'my-page_menu'
  .my-page__content
    / .my-page__content__box
    /   .my-page__content__box__title
    /     = image_tag "bell_icon.png",size: "19x19"
    /     COOK LABからのお知らせ
    /   .my-page__content__box__detail
    /     = render 'notification_list'
    - if @info_patarn == 'profile'
      .my-page__content__box
        .my-page__content__box__title
          = image_tag "profile_icon.png",size: "20x20"
          ="#{current_user.name}さんのプロフィール"
          = link_to edit_user_registration_customize_path(@account_patarn) do
            ▶︎アカウント情報を編集する
        .my-page__content__box__detail
          = render 'user-profile'
    - elsif @info_patarn == 'like_video'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "heart"
          お気に入り（動画）
        .my-page__content__box__detail
          = render 'share/video_list'
    - elsif @info_patarn == 'like_article'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "heart"
          お気に入り（記事）
        .my-page__content__box__detail
          = render 'share/article_list'
    - elsif @info_patarn == 'pay_info'
      .my-page__content__box
        .my-page__content__box__title
          = image_tag "pay_icon.png",size: "20x20"
          支払情報
          = link_to "#" do
            ▶︎支払情報を編集する
        .my-page__content__box__detail
          = render 'pay-info'
    - elsif @info_patarn == 'pay_histroy'
      .my-page__content__box
        .my-page__content__box__title
          = image_tag "pay_icon.png",size: "20x20"
          支払履歴
        .my-page__content__box__detail
          = render 'pay-history'
