- set_meta_tags noindex: true
.my-page
  .my-page__title
    = fa_icon "user"
    マイページ
  .my-page__menu
    = render 'my-page_menu'
  .my-page__content
    - if @info_patarn == 'notice'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "bell"
          COOK LABからのお知らせ
        .my-page__content__box__detail
          = render 'notification_list'
    - elsif @info_patarn == 'profile'
      .my-page__content__box
        .my-page__content__box__title
          = image_tag "profile_icon.png",size: "20x20"
          ="#{current_user.name}さんのプロフィール"
        .my-page__content__box__detail
          = render 'user-profile'
          = link_to edit_user_registration_customize_path(@account_patarn), class: "edit-btn" do
            ▶︎アカウント情報を編集する
    - elsif @info_patarn == 'pay_video'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "unlock-alt"
          購入した動画
        .my-page__content__box__detail
          = render 'video/search-list'
    - elsif @info_patarn == 'like_video'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "heart"
          お気に入り（動画）
        .my-page__content__box__detail
          = render 'video/search-list'
    - elsif @info_patarn == 'like_article'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "heart"
          お気に入り（記事）
        .my-page__content__box__detail
          = render 'article/article_search_list'
    - elsif @info_patarn == 'pay_info'
      .my-page__content__box
        .my-page__content__box__title
          = fa_icon "credit-card"
          支払情報
        .my-page__content__box__detail
          = render 'pay-info'
          - if check_pay_regi_status != 0
            = link_to edit_payment_path(current_user.id), class: "edit-btn" do
              ▶︎決済カードを変更する
    / - elsif @info_patarn == 'pay_histroy'
    /   .my-page__content__box
    /     .my-page__content__box__title
    /       = image_tag "pay_icon.png",size: "20x20"
    /       支払履歴
    /     .my-page__content__box__detail
    /       = render 'pay-history'
