.my-page
  .my-page__title
    = image_tag "user_icon.png",size: "30x30"
    マイページ(山田太郎さん)
  .my-page__content
    .my-page__content__box
      .my-page__content__box__title
        = image_tag "bell_icon.png",size: "19x19"
        COOK LABからのお知らせ
      .my-page__content__box__detail
        = render 'notification_list'
    .my-page__content__box
      .my-page__content__box__title
        = fa_icon "heart"
        お気に入り（動画）
      .my-page__content__box__detail
        = render 'share/video_list'
    .my-page__content__box
      .my-page__content__box__title
        = fa_icon "heart"
        お気に入り（記事）
      .my-page__content__box__detail
        = render 'share/article_list'
    .my-page__content__box
      .my-page__content__box__title
        = image_tag "profile_icon.png",size: "20x20"
        あなたのプロフィール
        = link_to "#" do
          プロフィールを編集する>>
      .my-page__content__box__detail
        = render 'user-profile'
    .my-page__content__box
      .my-page__content__box__title
        = image_tag "pay_icon.png",size: "20x20"
        支払情報
        = link_to "#" do
          支払情報を編集する>>
      .my-page__content__box__detail
        = render 'pay-info'
    .my-page__content__box
      .my-page__content__box__title
        = image_tag "pay_icon.png",size: "20x20"
        支払履歴
      .my-page__content__box__detail
        = render 'pay-history'
