.a-search-result__box
  = link_to article_path(1) do
    .a-search-result__box__image
    = image_tag "italian_article.png",size: "300x200", alt: "fish"
    .a-search-result__box__detail
      .a-search-result__box__detail__title
        = "本場イタリアでは通用しない！？\n日本のイタリアンが間違えている５つのこと"
      .a-search-result__box__detail__text
        = "新たなフレンチの業態「ビストロノミー」まとめ ... こちらのお店のジャンルは普通のフレンチでもなく、ビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しいビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しい"
.a-search-result__box
  .a-search-result__box__image
  = image_tag "buiyon_article.png",size: "300x200", alt: "fish"
  .a-search-result__box__detail
    .a-search-result__box__detail__title
      = "フランス料理の決め手・ブイヨン"
    .a-search-result__box__detail__text
      = "新たなフレンチの業態「ビストロノミー」まとめ ... こちらのお店のジャンルは普通のフレンチでもなく、ビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しいビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しい"
.a-search-result__box
  .a-search-result__box__image
  = image_tag "suppon_article.png",size: "300x200", alt: "fish"
  .a-search-result__box__detail
    .a-search-result__box__detail__title
      = "すっぽん料理の起源"
    .a-search-result__box__detail__text
      = "新たなフレンチの業態「ビストロノミー」まとめ ... こちらのお店のジャンルは普通のフレンチでもなく、ビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しいビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しい"
.a-search-result__box
  .a-search-result__box__image
  = image_tag "french_article.png",size: "300x200", alt: "fish"
  .a-search-result__box__detail
    .a-search-result__box__detail__title
      = "フレンチに見る４つの業態"
    .a-search-result__box__detail__text
      = "新たなフレンチの業態「ビストロノミー」まとめ ... こちらのお店のジャンルは普通のフレンチでもなく、ビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しいビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しい"
.a-search-result__box
  .a-search-result__box__image
  = image_tag "sushi_article.png",size: "300x200", alt: "fish"
  .a-search-result__box__detail
    .a-search-result__box__detail__title
      = "外国人が抱きがちな寿司への誤解TOP10"
    .a-search-result__box__detail__text
      = "新たなフレンチの業態「ビストロノミー」まとめ ... こちらのお店のジャンルは普通のフレンチでもなく、ビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しいビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しい"
.a-search-result__box
  .a-search-result__box__image
  = image_tag "buiyon_article.png",size: "300x200", alt: "fish"
  .a-search-result__box__detail
    .a-search-result__box__detail__title
      = "フランス料理の決め手・ブイヨン"
    .a-search-result__box__detail__text
      = "新たなフレンチの業態「ビストロノミー」まとめ ... こちらのお店のジャンルは普通のフレンチでもなく、ビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しいビストロでもなく、高級店並みの上質な食材を使いつつ、カジュアルな雰囲気で美味しい"
