.genre__name
  = link_to genre_search_article_index_path do
    = "日本料理"
    = "(10)"
.genre__name
  = link_to genre_search_article_index_path do
    = "イタリアン"
    = "(15)"
.genre__name
  = link_to "#" do
    = "フレンチ"
    = "(10)"
.genre__name
  = link_to "#" do
    = "寿司"
    = "(7)"
.genre__name
  = link_to "#" do
    = "天ぷら"
    = "(3)"
.genre__name
  = link_to "#" do
    = "パスタ"
    = "(7)"
.genre__name
  = link_to "#" do
    = "ブイヨン"
    = "(2)"
.genre__name
  = link_to "#" do
    = "海鮮料理"
    = "(9)"
.genre__name
  = link_to "#" do
    = "中華"
    = "(5)"
