.article
  .article__search
    = image_tag "genre_icon.png",size: "30x30", alt: "genre-search"
    ジャンル検索
  .article__search-result
    = render 'share/genre-select'
    = render 'share/search-header'
    = render 'article_search_list'
  .article__side-menu
    = render 'side-menu'

