- set_meta_tags title: "#{@article.title} 【COOK LAB. クックラボ 】プロの料理人向けレシピ動画"
.article
  .article__header
    .article__header__route
      = link_to article_index_path do
        記事一覧 /
      %span
        = @article.title
    .article__header__date
      = adjust_created_at(@article.created_at)
    .article__header__title
      = @article.title
    .article__header__genre-list
      = render 'article-tag-list', article: @article
  .article__content
    = render 'top-image', article: @article
    = render 'article-text'
  .article__side-menu
    = render 'side-menu'
