.article
  .article__header
    .article__header__route
      = link_to article_index_path do
        記事一覧 /
      %span
        = @article.title
    .article__header__date
      = adjust_created_at(@article.created_at)
    .article__header__title
      = @article.title
    .article__header__genre-list
      / = render 'share/tag-list'
      .tag-list__box
        = link_to genre_search_article_index_path do
          イタリアン
      .tag-list__box
        = link_to genre_search_article_index_path do
          歴史
  .article__content
    = render 'top-image', article: @article
    = render 'article-text'
  .article__side-menu
    = render 'side-menu'
