.contact
  .contact__title
    お問い合わせフォーム
  .contact__form
    = form_for @contact, url: contacts_path  do |f|
      .contact__form__group
        %p
          = '返信先メールアドレス'
        %br/
        .confirm-email
          = @contact.email
          = f.hidden_field :email
      .contact__form__group
        %p
          = 'お問い合わせ内容'
        %br/
        .confirm-message
          = adjust_brank_text(@contact.message)
          = f.hidden_field :message
      = f.submit '送信', class: "contact-submit"
