%h3
  お問い合わせ内容
  %br

%p
  = "------------------------------------------------"
  %br
%p
  = "email: #{@contact.email}"
  %br
  %br
%p
  = "本文："
  %br
%p
  = adjust_brank_text(@contact.message).html_safe
  %br
%p
  = "------------------------------------------------"
