.login-logout
  .login-logout__frame
    .login-logout__frame__title
      / ログイン
      = link_to root_path do
        = image_tag "cook_lab_logo.png" , size: "200x66", alt: "cooklab"
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label "メールアドレス"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label "パスワード"
        %br/
        = f.password_field :password, autocomplete: "password"
      .actions
        = f.submit "ログイン" ,class: "login-logout__frame__btn"
    = render "devise/shared/links"
