- set_meta_tags noindex: true
.pay-frame
  - if check_pay_regi_status == 2 || check_pay_regi_status == 3
    .pay-frame__title
      プラン解約
    .pay-frame__select
      .delete-frame
        %p
          下記項目をご確認の上、
          %br/
          "解約"ボタンをクリックしてください。
        .delete-frame__alert
          %ul
            %li
              解約後はご指定の住所への COOK LAB magazine のお届けは
              致しませんのでご了承ください。
            %li
              お気に入りに登録された記事・動画は全てリセットされます。
        .delete-frame__checkbox
          %table
            %tr
              %td
                = check_box_tag :concent, id: 'check'
              %td
                = label_tag :concent, "上記項目を理解した上でアカウントを削除します。"
        .delete-frame__actions
          = link_to "/payments/#{current_user.payment.id}", method: :delete, class: 'delete-btn able' do
            = "メルマガ有料会員プラン(¥300/月)を解約する"
        .delete-frame__actions
          %p.delete-btn.disable
            = "メルマガ有料会員プラン(¥300/月)を解約する"
    .pay-frame__back
      %br
      = link_to "◀︎マイページ", user_my_page_path('pay_info')
