- set_meta_tags noindex: true
.pay-frame
  .pay-frame__title
    支払情報の登録/編集
  .pay-frame__select
    - if @pay_patarn == 'charge' && current_user.payment.nil? && @card_registration_restrict_check != 'lock'
      %p
        カード情報を入力し
        %br/
        登録ボタンを押下してください。
      = form_tag(action: :create, method: :post) do
        = javascript_include_tag "https://js.pay.jp"
        .payjp
          = render 'card-form'
          %button{ id: "token" }
            登録
    - elsif @card_registration_eternal_restrict_check == 'lock'
      %p
        %b
          20回連続で入力情報にエラーがあったため
          %br/
          ロックがかかっています。
          %br/
          カード情報を登録することは
          %br/
          できません。
          %br/
          詳しくはサイト管理者に
          %br/
          お問い合わせください。
    - elsif @card_registration_restrict_check == 'lock'
      %p
        %b
          現在ロックがかかっているため
          %br/
          カード情報を登録することは
          %br/
          できません。
          %br/
          １時間後に再度アクセスしてください。
    - elsif @pay_patarn == 'subscription' && check_pay_regi_status == 0
      %p
        プレミアムプランをご希望の方は
        %br/
        カード情報を入力し
        %br/
        登録ボタンを押下してください。
      = form_tag(action: :purchase_subscription, method: :post) do
        = javascript_include_tag "https://js.pay.jp"
        .payjp
          = render 'card-form'
          %button{ id: "token" }
            登録
    - elsif @pay_patarn == 'subscription' && check_pay_regi_status == 1
      %p
        プレミアムプランの
        %br/
        登録手続きを行います。
        %br/
        問題なければ
        %br/
        下のボタンを押下してください。
      .pay-btn
        = link_to "プレミアムプラン(¥1,280/月,税別)に登録", purchase_subscription_payments_path, class: "pay-btn__registration premium", method: "post"
  .pay-frame__back
    = link_to "◀︎マイページ", user_my_page_path('pay_info')
