.pay-frame
  .pay-frame__title
    支払情報の登録/編集
  .pay-frame__select
    - if @pay_patarn == 'charge' && current_user.payment.nil?
      %p
        カード情報を入力し
        %br/
        登録ボタンを押下してください。
      = form_tag(action: :create, method: :post) do
        = javascript_include_tag "https://js.pay.jp"
        .payjp
          = render 'card-form'
          %button{ id: "token" }
            登録
    - if @pay_patarn == 'subscription' && current_user.pay_regi_status == 0
      %p
        プレミアムプランをご希望の方は
        %br/
        カード情報を入力し
        %br/
        登録ボタンを押下してください。
      = form_tag(action: :purchase_subscription, method: :post) do
        = javascript_include_tag "https://js.pay.jp"
        .payjp
          = render 'card-form'
          %button{ id: "token" }
            登録
    - elsif @pay_patarn == 'subscription' && current_user.pay_regi_status == 1
      %p
        プレミアムプランへの登録手続きを行います。
        %br/
        問題なければ下のボタンを押下してください。
      .pay-btn
        = link_to "プレミアムプラン(¥980/月)に登録する", purchase_subscription_payments_path, class: "pay-btn__registration premium", method: "post"
  .pay-frame__back
    = link_to "◀︎マイページ", user_my_page_path('pay_info')
