.a-create__form
  = form_for @magazine_address, url: confirm_magazine_index_path, method: :post do |f|
    .a-create__form__text
      下記項目を入力してください。
      %br
      %p.sup_explanation
        ※郵便番号を入力すると自動的に住所が入力されます。番地等を追加でご記入ください。
      .a-create__form__error
        .message
          - @magazine_address.errors.full_messages.each do |message|
            = message              
      .a-create__form__magazine-box
        .field
          %label
            宛先
          %br
          = f.text_field :address, class: "s-window", autocomplete: 'off', required: true
        .field
          %label
            郵便番号
          %p.sup_explanation
            ※半角数字で入力してください。"-"は必要ありません。
          %br
          = f.text_field :zipcode, class: "zipcode-window", autocomplete: 'off', maxlength: 7, onKeyUp: "AjaxZip3.zip2addr(this,'','pref','city_address');", required: true
        .field
          %label
            都道府県
          %br
          = f.text_field :pref, class: "s-window", autocomplete: 'off', name: "pref", required: true
        .field
          %label
            市区町村番地
          %br
          = f.text_field :city_address, class: "s-window", autocomplete: 'off', name: "city_address", required: true
        .field
          %label
            マンション名/建物名
          %br
          = f.text_field :building, class: "s-window", autocomplete: 'off'
    .a-create__form__actions
      = hidden_field_tag :crud_patarn, @crud_patarn
      = hidden_field_tag :id, @magazine_address.id
      = button_tag "登録",class: "submit__btn magazine-form-btn"