%p
  = "--COOK LAB アカウントパスワード再設定のご案内--"
  %br/
  %br/
%p
  = "本メールは COOK LAB のアカウントパスワード再設定手続きをいただいたお客様に送信しております。"
  %br/
  %br/
  = "以下のリンクからパスワードの変更をお願い致します。"
  %br/
  %br/
%p
  = link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token)
  %br/
%p
  %br/
  = "※当メールに心当たりの無い場合は、誠に恐れ入りますが"
  %br/
  = " 破棄して頂けますよう、よろしくお願い致します。"
  %br/
