!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title Cooklab
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    = favicon_link_tag('cooklab_fabicon.png')
  %body{ "data-controller" => controller_name, "data-action" => action_name }
    = render 'share/flash'
    #overlay
    #video-overlay
    = render 'share/header'
    - if content_for?(:body_attributes)
      = yield(:body_attributes)
    - else
      = yield
    = render 'share/footer'
