!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    / %title COOK LAB.
    = display_meta_tags reverse: true
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ rel: "stylesheet", type: "text/css", href: "https://fonts.googleapis.com/css?family=Sawarabi+Gothic" }
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://ajaxzip3.github.io/ajaxzip3.js'
    = favicon_link_tag('cooklab_fabicon.png')
    = analytics_init if Rails.env.production?
    = render 'layouts/google_ad'
    / %script{ :async => "", "data-ad-client" => "ca-pub-7040496109287951", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }
    / :javascript
    /   (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7040496109287951",enable_page_level_ads: true});
  %body{ "data-controller" => controller_name, "data-action" => action_name, "ontouchstart" => "" }
    / Google Tag Manager
    %noscript
      %iframe{height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-KPNHN5G", style: "display:none;visibility:hidden", width: "0"}
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KPNHN5G');
    / End Google Tag Manager
    
    %input{ type: "hidden", id: "refreshed", value: "no" }
    = render 'share/flash'
    = render 'share/header'
    = render 'share/search_frame'
    #overlay{ onclick: "" }
    #video-overlay{ onclick: "" }
    - if content_for?(:body_attributes)
      = yield(:body_attributes)
    - else
      = yield
    = render 'share/footer'
    = render 'share/navigation-bar'
    #loader-bg
      = image_tag "loader.gif"
